<script lang="ts">
export default {
  props: {
    icon: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      default: "",
    },
  },
};
</script>
<template>
  <div class="c-badge">
    <img v-show="icon" class="c-badge__icon" :src="icon" :alt="icon" />
    <span class="c-badge__child"><slot /></span>
  </div>
</template>

<style scoped>
.c-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  color: #fff;
  padding: 4px 8px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.12);
}
.c-badge__icon {
  height: 16px;
  margin-right: 4px;
}
</style>
