<script lang="ts">
export default {
  props: {
    icon: {
      type: String,
      default: "",
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    haveSlot() {
      return !!this.$slots.default;
    },
    haveIndicator() {
      return !!this.$slots.indicator;
    },
    buttonClasses() {
      return {
        "c-button": true,
        wide: this.haveSlot,
      };
    },
    buttonIconClasses() {
      return {
        "c-button__icon": this.haveSlot,
      };
    },
    buttonSpinnerClasses() {
      return {
        "c-button__spinner": true,
        "ml-14": this.haveSlot,
      };
    },
    shouldShowIcon() {
      if (this.haveSlot) return !!this.icon;
      return !!this.icon && !this.isLoading;
    },
    shouldShowFrontSpinnerIcon() {
      if (!this.haveSlot && this.isLoading) return true;
      if (!this.haveSlot && this.haveIndicator && this.isLoading) return true;
      return false;
    },
    shouldShowIndicator() {
      return this.haveSlot
        ? this.haveIndicator && !this.isLoading
        : this.haveIndicator;
    }
  },
};
</script>
<template>
  <button :class="buttonClasses">
    <img
      v-show="shouldShowFrontSpinnerIcon"
      :class="buttonSpinnerClasses"
      src="../assets/ellipse-2.png"
      alt="Loading"
    />
    <img
      v-show="shouldShowIcon"
      :class="buttonIconClasses"
      :src="icon"
      :alt="icon"
    />
    <div class="c-button__child">
      <slot />
      <div class="ml-14" v-show="shouldShowIndicator">
        <slot name="indicator" />
      </div>
    </div>
    <img
      v-show="isLoading && haveSlot && haveIndicator"
      :class="buttonSpinnerClasses"
      src="../assets/ellipse-2.png"
      alt="Loading"
    />
  </button>
</template>

<style scoped>
.c-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;

  color: #fff;
  border: none;
  height: 40px;
  padding: 10px 14px;
  position: relative;
  border-radius: 8px;
  background-color: #33b679;
  transition: 0.25s background-color;
  box-shadow: 0px 2px 4px rgba(10, 14, 20, 0.08);

  cursor: pointer;
}
.c-button.wide {
  padding: 10px 20px;
}
.c-button::before {
  content: "";
  top: -3px;
  left: -3px;
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  transform: scale(1.5);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid #85d3af;
  transition: 0.25s all;
}
.c-button__child {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
.c-button:hover,
.c-button.hover {
  background-color: #299261;
}
.c-button__icon {
  margin-right: 18px;
}
.c-button__spinner {
  width: 20px;
  animation: rotate 0.5s infinite linear;
}
.c-button:active,
.c-button.active {
  background-color: #1f6d49;
}
.c-button:disabled {
  background-color: #ade2c9;
}
.c-button:focus::before,
.c-button.focus::before {
  opacity: 1;
  transform: scale(1);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
