<script setup lang="ts">
import ButtonEx from "./components/ButtonEx.vue";
import BadgeEx from "./components/BadgeEx.vue";
import icoPlus from "./assets/ico-plus.png";
import icoDiamond from "./assets/ico-diamond.png";
</script>

<template>
  <table>
    <tr>
      <th>Button State</th>
      <th>Standard</th>
      <th>Hover</th>
      <th>Active</th>
      <th>Loading</th>
      <th>Focus</th>
      <th>Disabled</th>
    </tr>
    <tr>
      <td>Default</td>
      <td>
        <ButtonEx>Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="hover">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="active">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx :isLoading="true">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="focus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx disabled>Button</ButtonEx>
      </td>
    </tr>
    <tr>
      <td>With Icon</td>
      <td>
        <ButtonEx :icon="icoPlus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="hover" :icon="icoPlus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="active" :icon="icoPlus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx :isLoading="true" :icon="icoPlus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx class="focus" :icon="icoPlus">Button</ButtonEx>
      </td>
      <td>
        <ButtonEx disabled :icon="icoPlus">Button</ButtonEx>
      </td>
    </tr>
    <tr>
      <td>Icon Only</td>
      <td>
        <ButtonEx :icon="icoPlus" />
      </td>
      <td>
        <ButtonEx class="hover" :icon="icoPlus" />
      </td>
      <td>
        <ButtonEx class="active" :icon="icoPlus" />
      </td>
      <td>
        <ButtonEx :isLoading="true" :icon="icoPlus" />
      </td>
      <td>
        <ButtonEx class="focus" :icon="icoPlus" />
      </td>
      <td>
        <ButtonEx disabled :icon="icoPlus">Button</ButtonEx>
      </td>
    </tr>
    <tr>
      <td>With Badge + Icon</td>
      <td>
        <ButtonEx :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="hover" :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="active" :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx :isLoading="true" :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="focus" :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx disabled :icon="icoPlus">
          <span>Button</span>
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
    </tr>
    <tr>
      <td>Icon Only + Badge</td>
      <td>
        <ButtonEx :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">1</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="hover" :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">2</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="active" :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">3</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx :isLoading="true" :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">4</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx class="focus" :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">5</BadgeEx>
          </template>
        </ButtonEx>
      </td>
      <td>
        <ButtonEx disabled :icon="icoPlus">
          <template v-slot:indicator>
            <BadgeEx :icon="icoDiamond">5</BadgeEx>
          </template>
        </ButtonEx>
      </td>
    </tr>
  </table>
</template>

<style scoped>
table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
  border: 1px solid #ededed;
}

tr:nth-child(even) {
  background-color: #ededed;
}
</style>
